<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jettjia.mybatis.mapper.OrderMapper">
    <select id="getOrderList" resultType="order" >
        select * from `order`;
    </select>
    
    <!-- 使用resultMap方式获取订单列表===================-->
    <resultMap type="order" id="order_list_map">
        <!-- <id>用于映射主键 -->
        <id property="id" column="id"/>
        <!-- 普通字段用<result>映射 -->
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>
    </resultMap>
    <select id="getOrderListMapper" resultMap="order_list_map">
        select * from `order`
    </select>
    
    <!-- 一对一关联查询：resultType使用=================== -->
    <select id="getOrderUser" resultType="orderuser">
        SELECT o.`id`, o.`user_id` userId, o.`number`,o.`createtime`,o.`note`,u.username,u.address FROM`order` o 
        LEFT JOIN `user` u 
        ON u.id = o.user_id 
    </select>
    
    <!-- 一对一关联查询：resultMap使用=================== -->
    <resultMap type="order" id="order_user_map">
        <id property="id" column="id"/>
        <!-- 普通字段用<result>映射 -->
        <result property="userId" column="user_id"/>
        <result property="number" column="number"/>
        <result property="createtime" column="createtime"/>
        <result property="note" column="note"/>
        
        <association property="user" javaType="com.jettjia.mybatis.pojo.User">
            <id property="id" column="user_id"/>
            <result property="username" column="username"/>
            <result property="address" column="address"/>
            <result property="birthday" column="birthday"/>
            <result property="sex" column="sex"/>
        </association>
    </resultMap>
    <select id="getOrderUserMap" resultMap="order_user_map">
        SELECT o.`id`, o.`user_id`, o.`number`,o.`createtime`,o.`note`,
        u.username, u.address, u.birthday, u.sex FROM `order` o 
        LEFT JOIN `user` u 
        ON u.id = o.user_id
    </select>
</mapper>